src/main/mule/sanfrancisco-common-utility.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<vm:config name="Smart_Logging_Config" doc:name="VM Config" doc:id="177e4b84-8afa-48ea-ab10-92501c96354d">
		<vm:connection />
		<vm:queues >
			<vm:queue queueName="SmartAuditQueue" queueType="PERSISTENT" />
		</vm:queues>
	</vm:config>
	<snowflake:snowflake-config name="Snowflake_Config" doc:name="Snowflake Config" doc:id="bfc8429a-ab75-41c7-9aa0-160a13e9d117" >
		<snowflake:snowflake-connection accountName="lrbtvsm-hd48746" warehouse="COMPUTE" database="MULESOFT" schema="LOGGING" user="saikrishna1736" password="Brmdec3012@"/>
	</snowflake:snowflake-config>
	<flow name="sanfrancisco-common-utilityFlow" doc:id="65b2d6c4-7706-4e4b-9c81-0060031541d7" >
		<vm:listener doc:name="Listener" doc:id="ba561f9a-e175-4e14-beed-1dce14885a9a" config-ref="Smart_Logging_Config" queueName="SmartAuditQueue"/>
		<ee:transform doc:name="Transform Message" doc:id="c4ee3e5e-10c6-43bc-b8bd-14f053c1a8b9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<snowflake:bulk-insert doc:name="Bulk insert" doc:id="9f6f3086-ed78-4128-a57f-d4192880af6c" config-ref="Snowflake_Config">
			<snowflake:bulk-input-parameters ><![CDATA[#[[payload]]]]></snowflake:bulk-input-parameters>
			<snowflake:sql ><![CDATA[Insert into LOGGING (APPLICATIONNAME,APPLICATIONVERSION,TRANSACTIONNO,STATUS,ENVIRONMENT,FLOWNAME,TIMESTAMP,LAYER,LOGTYPE,CORRELATIONID,MESSAGE,TRACEPOINT,RESPONSETIME,PAYLOAD)

values(:applicationName,:applicationversion,:transactionno,:statuscode,:Environment,:flowname,:timeStamp,:layer,:logType,:correlationId,:message,:tracePoint,:responsetime,:payload); 
]]></snowflake:sql>
		</snowflake:bulk-insert>
	</flow>
</mule>
